{% extends "base.html" %}
{% block title %}Task List{% endblock %}

{% block content %}
    <header>
        <h1>Task List</h1>
    </header>
    <main>
        <form id="search_form"> <!--Talvez trocar por um form, assim posso colocar required-->
            <input name="search" type="text" id="search_input" placeholder="..." required>
            <select id="genero" name="genero" required>
                <option value="" disabled selected>Search Task by:</option>
                <option value="name">Name</option>
                <option value="class">Class</option>
                <option value="group">Group</option>
                <option value="due_date">Due Date</option>
                <option value="creation_date">Creation Date</option>
              </select>
            <button type="submit" id="search_button">Submit</button>
        </form>

        <section id="section_tasks">
            <section class="individual_task">
                <p class="task_name">Task name</p>
                <p class="task_class">Task class</p>
                <p class="task_group">Task group</p>
                <p class="task_description">Task description</p>
                <p class="task_due">Task due date</p>
                <p class="task_creation">Task creation date</p>
            </section>
            <br>
            <section class="individual_task">
                <p class="task_name">Task name</p>
                <p class="task_class">Task class</p>
                <p class="task_group">Task group</p>
                <p class="task_description">Task description</p>
                <p class="task_due">Task due date</p>
                <p class="task_creation">Task creation date</p>
            </section>
            

        </section>
    </main>

    <footer>
        <a href="{{ url_for('index') }}" >End Session</a>

    </footer>
{% endblock %}