h4 {
    margin: 0px;
    padding: 20px 20px;
    text-decoration: underline;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#login_form {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 0px;
    width: 250px;
    border: 2px solid rgb(32, 161, 201);
    border-radius: 12px;
}

input {
    display: block;
    margin: 0px;
}

#signup_link {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 115px;
}

#submit_login {
    margin: 20px 20px;
    padding: 4px 20px;
}

footer {
  width: 98%;
  margin-top: 130px;
  padding: 20px;
  background-color: #f5f5f5; 

}

#socials {
  text-align: center; 
}

#socials p {
  display: inline-block; 
  margin: 5px 7px;       
  text-align: center;
  
}